.heading{
    text-align: left;
}
.heading p{
    line-height:3rem;
}
.description{
    text-align: left;
}
.App-bottom{
    background-color: #0000cc !important;
    color: white !important;
    margin: 2rem 0 0 0;
}
.App-select{
    margin: 20px 0 0 0;
}